* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a:any-link {
    color: inherit;
    text-decoration: none;
}

body {
    min-width: 320px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(96deg, rgba(255,255,255,1) 0%, rgba(239,239,241,1) 45%, rgba(231,231,231,1) 100%);
    background: -webkit-linear-gradient(96deg, rgba(255,255,255,1) 0%, rgba(239,239,241,1) 45%, rgba(231,231,231,1) 100%);
    background: linear-gradient(96deg, rgba(255,255,255,1) 0%, rgba(239,239,241,1) 45%, rgba(231,231,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e7e7e7",GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d1d1d1", GradientType=1);
    scroll-behavior: smooth;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    background: rgba(0, 0, 0, 0.80);
    -webkit-backdrop-filter: saturate(200%) blur(10px);
    backdrop-filter: saturate(200%) blur(10px);
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out 0.2s, background 1s ease-out;
    transition: all 0.5s ease-out 0.2s, background 1s ease-out;
    z-index: 999;
}

header .burger__container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-user-select: none;
    user-select: none;
}

header .burger__button {
    display: block;
    width: 20px;
    height: 8px;
    position: relative;
    margin: -4px auto 0;
    top: 50%;
}

header .burger__button .burger--bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #f5f5f7;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

header .burger__button .burger--bar.burger--bar__top {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
}

header .burger__button .burger--bar.burger--bar__bottom {
    -webkit-transform: translateY(8px) rotate(0deg);
    transform: translateY(8px) rotate(0deg);
}

header .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: #f5f5f7;
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

header .translate {
    display: block;
    right: 25px;
    top: 0;
    left: auto;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

header .translate__lang {
    align-self: center;
    height: 100%;
}

header .translate__lang {
    font-size: 13px;
    opacity: 0.8;
    align-self: center;
}

.header .translate__lang a {
    text-decoration: none;
    color: #f5f5f7;
}

header ul.nav-menu {
    display: none;
    position: relative;
    padding: 0px 48px 0;
    border-top: 1px solid #3c3c3c;
}

header ul li {
    list-style: none;
}

header.menu-opened ul.nav-menu {
    display: block;
}

header ul.nav-menu li.nav-menu__item {
    border-bottom: 1px solid #3c3c3c;
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s linear, -webkit-transform 0.5s linear;
    transition: opacity 0.6s linear, -webkit-transform 0.5s linear;
    transition: transform 0.5s linear, opacity 0.6s linear;
    transition: transform 0.5s linear, opacity 0.6s linear, -webkit-transform 0.5s linear;
}

header ul.nav-menu li.nav-menu__item a {
    display: block;
    position: relative;
    color: #f5f5f7;
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    opacity: 0.8;
    width: 100%;
}

header.menu-opened {
    height: 100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

header.menu-opened .burger__container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

header.menu-opened .burger__container .burger__button .burger--bar.burger--bar__top {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}

header.menu-opened .burger__container .burger__button .burger--bar.burger--bar__bottom {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}

header.menu-opened ul.nav-menu li.nav-menu__item {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
}

header.menu-opened .translate {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}

.podheader {
    background-image: url("../img/background-photo.jpg");
    background-position: center;
    color: #f5f5f7;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    margin-top: 48px;
}

.podheader__title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 25px;
}

.podheader__title p {
    color: inherit;
    margin-bottom: 0;
    font-family: "Monaco";
}

.podheader__title p:first-child {
    font-size: 63px;
    align-items: center;
    margin-right: 8px;
}

.podheader__title .nadpis {
    margin-left: 0.5em;
}

main {
    padding: 0 25px;
}

main section {
    padding-top: 20px;
}

.flipbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flipbox-gallery__box {
    width: 230px;
    height: 200px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    margin: 1em 1em 1em 0;
}

.flipbox-gallery__flip {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 20px 5px;
}

.flipbox-gallery__box:hover .flipbox-gallery__flip {
    transform: rotateY(+180deg);
    -webkit-transform: rotateY(+180deg);
}

.flipbox-gallery__front,
.flipbox-gallery__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 200px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: block;
    color: #f5f5f7;
}

.flipbox-gallery__front img {
    border-radius: 20px 5px 0 0;
    width: 100%;
    height: 100%;
}

.flipbox-gallery__back {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    background-color: #242423;
    border-radius: 5px 20px;
}

.flipbox-gallery__back h3 {
    color: #f5f5f7;
    padding: 10px 5px 5px 5px;
    border-bottom: 1px solid #f5f5f7;
    margin: 0;
}

.flipbox-gallery__back p {
    color: #f5f5f7;
    text-align: center;
    padding: 0.5em 0.8em;
}

.flipbox-gallery__box span {
    color: #f5f5f7;
    font-size: 17px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    display: block;
    background-color: #242423;
    padding: 5px 0;
    backface-visibility: hidden;
}

.flipbox-gallery__box:hover .flipbox-gallery__box span {
    display: none;
}

.products img {
    width: 320px;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
}

.products a {
    display: block;
    max-width: 375px;
    text-align: center;
    margin: 0 auto
}

.products a span {
    color: #242423;
    padding-top: 10px;
    border-top: 1px solid #242423;
    margin-top: 1em;
    display: block;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 450px;
}

.slide-container .slide-container__slide {
    display: none;
    width: 100%;
}

.slide-container .slide-container__slide--fade {
    animation: 0.8s cubic-bezier(0.6, 0.20, 0.175, 1.000);
    position: absolute;
    top: 0;
}

.slide-container .slide-container__slide img {
    width: 100%;
}

.slide-container .slide-container--button__prev,
.slide-container .slide-container--button__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: #242423;
    font-size: 20px;
    transition: all 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

.slide-container .slide-container--button__prev {
    border-radius: 15px 5px 5px 15px;
}

.slide-container .slide-container--button__next {
    border-radius: 5px 15px 15px 5px;
}

.slide-container .slide-container--button__prev:hover,
.slide-container .slide-container--button__next:hover {
    background-color: #242423;
    color: #f5f5f7;
}

.slide-container .slide-container--button__prev {
    left: 2px;
}

.slide-container .slide-container--button__next {
    right: 2px;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dots-container .dots-container__dot {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #676767;
}

.dots-container .dots-container__dot.active {
    background-color: #242423;
}

.sponzors-gallery img {
    max-width: 120px;
    width: 100%;
}

.sponzors-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.sponzors-gallery a {
    display: block;
    margin: 1em;
}

.sponzors-gallery h2,
.products h2 {
    margin: 15px 0;
}

.job>div {
    display: flex;
    flex-direction: column;
}

.job .job__item {
    margin: 20px 0;
}

.job__item ul li {
    position: relative;
    left: 0px;
    transition: 0.5s;
    margin-bottom: 0.5em;
}

.job__item ul li strong {
    font-weight: normal;
    transition: 0.5s;
}

.job__item ul li:hover {
    left: 17px;
    transition: 0.3s;
    list-style: none;
}

.job__item ul li:hover strong {
    font-weight: bold;
    transition: font-weight 0s linear;
}

.photo-gallery {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.photo-gallery::-webkit-scrollbar {
    height: 8px;
    background: #242423;
}

.photo-gallery::-webkit-scrollbar-thumb {
    background: #676767;
}

.photo-gallery img {
    display: block;
    margin-right: 1em;
    transition: 0.5s;
}

.photo-gallery img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.buttons {
    display: flex;
    max-width: 180px;
    justify-content: center;
    margin: 3em auto;
}

.buttons a {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid #676767;
    background-color: #676767;
    margin: 1em;
}

.contacts {
    padding: 50px 0 25px 0;
    border-bottom: 1px solid #86868b;
    opacity: 1;
}

.contacts {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts a {
    color: rgba(0, 0, 0, 0.80);
    margin-bottom: 8px;
    transition: 0.5s;
}

.contacts a:last-child {
    margin-bottom: 0;
}

footer {
    padding: 0;
    color: #676767;
    margin: 8px 0;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 13px;
    color: #86868b;
}

.job__item ul::before {
    display: block;
    color: rgba(0, 0, 0, 0.80);
    content: '';
    border-bottom: 2px solid #676767;
    margin-bottom: 10px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.job__item ul.border:hover,
.job__item:hover .job__item ul.border {
    transform-origin: 0% 50%;
}

.job__item ul:hover::before {
    transform: scaleX(1);
}

@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        padding: 0px 75px 0 75px;
        height: 45px;
    }

    header .burger__container {
        display: none;
    }

    header ul.nav-menu {
        position: initial;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        border-top: none;
        height: 45px;
        width: 100%;
        padding: 0;
        margin: 0 37.5px;
    }

    header ul.nav-menu li.nav-menu__item {
        opacity: 1;
        border-bottom: none;
        transform: none;
        -webkit-transform: none;
        margin-top: 0;
        align-self: center;
    }

    header .icon {
        position: initial;
        transform: none;
        -webkit-transform: none;
        height: 45px;
        opacity: 0.8;
    }

    header a.icon.brand {
        font-size: 34px;
        margin-top: -4px;
    }

    header ul.nav-menu li.nav-menu__item a {
        font-size: 14px;
    }

    header ul.nav-menu li.nav-menu__item a,
    header a.icon.brand,
    header .translate__lang a {
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        margin: auto 0;
        height: fit-content;
        line-height: 1.15;
    }

    header ul.nav-menu li.nav-menu__item a:hover,
    header a.icon.brand:hover,
    header .translate__lang a:hover {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }

    header .translate__lang {
        margin-top: -3.5px;
    }

    header .translate__lang a {
        font-size: 12px;
        margin: 0 0.2em;
    }

    .podheader {
        min-height: 50vh;
        margin-top: 45px;
    }

    .podheader__title {
        top: 40%;
        left: 75px;
    }

    main {
        padding: 0 75px;
    }

    main section {
        padding-top: 40px;
    }

    .flipbox-gallery__box {
        margin: 1em 1em 1em 0;
    }

    .flipbox-gallery {
        justify-content: center;
    }

    .sponzors-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;
    }

    .job>div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .job .job__item {
        max-width: 380px;
        margin-right: 4em;
    }

    .slide-container .slide-container--button__prev {
        left: 20%;
    }

    .slide-container .slide-container--button__next {
        right: 20%;
    }

}

@media (min-width: 1100px) {
    main {
        padding: 0;
        max-width: 800px;
        margin: 0 auto;
    }

    header {
        padding-right: calc((100vw - 810px)/2);
        padding-left: calc((100vw - 810px)/2);
    }

    header ul.nav-menu {
        margin: 0 calc((((100vw - 8px) - 800px)/2)/4);
    }

    header .translate__lang a {
        font-size: 13px;
    }

    .podheader__title {
        left: calc(((100vw - 8px) - 800px)/2);
    }

    .images {
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: center;
    }

    .images span {
        white-space: normal;
    }

    .job .job__item {
        width: 360px;
        margin: 0;
        height: 200px;
    }

    .job .job__item:nth-child(2) {
        margin: 0 1em;
    }

    .flipbox-gallery {
        justify-content: space-between;
    }

    .slide-container {
        height: 500px;
    }

    .contacts a {
        color: #86868b;
    }

    .contacts a:hover {
        color: rgba(0, 0, 0, 0.80);
        transition: color 0.4s;
    }

}

@media (min-width: 1400px) {
    main {
        max-width: 1100px;
    }

    header {
        padding: 0px;
        padding-right: calc((100vw - 1100px)/2);
        padding-left: calc((100vw - 1100px)/2);
    }

    header ul.nav-menu {
        margin: 0 calc((((100vw - 8px) - 1100px)/2)/4);
    }

    .podheader__title {
        left: calc((100vw - 1100px)/2);
    }

    .job>div {
        flex-wrap: nowrap;
    }

    .sponzors-gallery img {
        max-width: 160px;
    }
}

@media (min-width: 1920px) {
    main {
        max-width: 1100px;
    }

    header .nav-menu a {
        font-size: 18px;
    }

    header .nav-menu a {
        margin: 0px 18px;
    }

    .podheader__title {
        left: calc(((100vw - 12px) - 1100px)/2);
    }

}

@media (min-width: 2560px) {
    main {
        max-width: 1600px;
    }

    header {
        padding: 0px;
        padding-right: calc((100vw - 1600px)/2);
        padding-left: calc((100vw - 1600px)/2);
    }

    .podheader__title {
        left: calc(((100vw - 12px) - 1600px)/2);
    }
}