:root {
    --dark-black: rgba(0, 0, 0, 0.92);
    --black: rgba(0, 0, 0, 0.80);
    --light-grey: #3c3c3c;
    --grey: #676767;
    --dark: #242423;
    --white: #f5f5f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-width: 320px;
    background: var(--white)
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    background: var(--black);
    -webkit-backdrop-filter: saturate(200%) blur(10px);
    backdrop-filter: saturate(200%) blur(10px);
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out 0.2s, background 1s ease-out;
    transition: all 0.5s ease-out 0.2s, background 1s ease-out;
    z-index: 999;
}

header .burger--container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-user-select: none;
    user-select: none;
}

header .burger--button {
    display: block;
    width: 20px;
    height: 8px;
    position: relative;
    margin: -4px auto 0;
    top: 50%;
}

header .burger--button .burger--bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: var(--white);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

header .burger--button .burger--bar.burger--bar__top {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
}

header .burger--button .burger--bar.burger--bar__bottom {
    -webkit-transform: translateY(8px) rotate(0deg);
    transform: translateY(8px) rotate(0deg);
}

header .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: var(--white);
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

header a.icon.brand {
    font-size: 34px;
    font-family: "Monaco";
    opacity: 0.8;
}

header .translate {
    display: flex;
    right: 25px;
    top: 0;
    left: auto;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

header .lang {
    align-self: center;
    height: 100%;
}

header .lang:first-child {
    margin-right: 0.5em;
}

header .lang a {
    color: var(--white);
    font-size: 16px;
    opacity: 0.8;
}

.header .lang {
    margin-right: 1em;
}

header ul.nav-menu {
    display: none;
    position: relative;
    padding: 0px 48px 0;
    border-top: 1px solid var(--light-grey);
}

header ul li {
    list-style: none;
}

header.menu-opened ul.nav-menu {
    display: block;
}

header ul.nav-menu li.nav-menu--item {
    border-bottom: 1px solid var(--light-grey);
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s linear, -webkit-transform 0.5s linear;
    transition: opacity 0.6s linear, -webkit-transform 0.5s linear;
    transition: transform 0.5s linear, opacity 0.6s linear;
    transition: transform 0.5s linear, opacity 0.6s linear, -webkit-transform 0.5s linear;
}

header ul.nav-menu li.nav-menu--item a {
    display: block;
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    opacity: 0.8;
    ;
    width: 100%;
}

header.menu-opened {
    height: 100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

header.menu-opened .burger--container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

header.menu-opened .burger--container .burger--button .burger--bar.burger--bar__top {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}

header.menu-opened .burger--container .burger--button .burger--bar.burger--bar__bottom {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}

header.menu-opened ul.nav-menu li.nav-menu--item {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
}

header.menu-opened .translate {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}

.podheader {
    background-image: url("../img/technology-4739537_1920.jpg");
    background-position: center;
    color: var(--white);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    margin-top: 48px;
}

.title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 25px;
}

.title p {
    color: inherit;
    margin-bottom: 0;
    font-family: "Monaco";
}

.title p:first-child {
    font-size: 63px;
    align-items: center;
    margin-right: 8px;
}

.title .nadpis {
    margin-left: 0.5em;
}

main {
    padding: 0 25px;
}

main section {
    padding-top: 20px;
}

h2 {
    border-right: 3px solid var(--grey);
    display: inline-block;
    padding-right: 0.3em;
}

h3 {
    border-bottom: 2px solid var(--grey);
    display: inline-block;
    width: fit-content;
}

.flipbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flipbox-gallery--box {
    width: 230px;
    height: 200px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    margin: 1em 1em 1em 0;
}

.flipbox-gallery--flip {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background-color: var(--black);
    border-radius: 20px 5px;
}

.flipbox-gallery--box:hover .flipbox-gallery--flip {
    transform: rotateY(+180deg);
    -webkit-transform: rotateY(+180deg);
}


.flipbox-gallery--flip__front,
.flipbox-gallery--flip__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 200px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: block;
    color: var(--white);
}

.flipbox-gallery--flip__back {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    background-color: var(--dark);
    border-radius: 5px 20px;
}

.flipbox-gallery--flip__back h3 {
    color: var(--white);
    padding: 10px 5px 5px 5px;
    border-bottom: 1px solid var(--white);
    margin: 0;
}

.flipbox-gallery--flip__back p {
    color: var(--white);
    text-align: center;
    padding: 0.5em;
}

.flipbox-gallery--box span {
    color: var(--white);
    font-size: 17px;
    text-align: center;
    display: block;
    margin-top: 3px;
}

.products img {
    width: 320px;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
}

.products a {
    display: block;
    max-width: 375px;
    text-align: center;
    margin: 0 auto
}

.products a span {
    color: var(--dark);
    padding-top: 10px;
    border-top: 1px solid var(--dark);
    margin-top: 1em;
    display: block;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 600px;
}

.slide-container .slide-container--slide {
    display: none;
    width: 100%;
}

@keyframes fade {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.slide-container .slide-container--slide.fade {
    animation: fade 0.8s ease;
    position: absolute;
    top: 0;
}

.slide-container .slide-container--slide img {
    width: 100%;
}

.slide-container .slide-container--button__prev,
.slide-container .slide-container--button__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: var(--dark);
    font-size: 20px;
    transition: all 0.6s ease;
}

.slide-container .slide-container--button__prev {
    border-radius: 15px 5px 5px 15px;
}

.slide-container .slide-container--button__next {
    border-radius: 5px 15px 15px 5px;
}

.slide-container .slide-container--button__prev:hover,
.slide-container .slide-container--button__next:hover {
    background-color: var(--dark);
    color: var(--white);
}

.slide-container .slide-container--button__prev {
    left: 2px;
}

.slide-container .slide-container--button__next {
    right: 2px;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dots-container .dot {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--grey);
}

.dots-container .dot.active {
    background-color: var(--dark);
}

.sponzors-gallery img {
    max-width: 220px;
    width: 100%;
}

.sponzors-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.sponzors-gallery a {
    display: block;
    margin: 1em;
}

.sponzors-gallery h2,
.products h2 {
    margin: 15px 0;
}

.job>div {
    display: flex;
    flex-direction: column;
}

.job .job--item {
    margin: 20px 0;
}

.job--item ul li {
    padding: 0.5em 0;
    list-style: outside;
    margin-left: 1.3em;
}

.photo-gallery {
    display: flex;
    overflow-x: scroll;
}

.photo-gallery a {
    display: block;
    margin-right: 1.5em;
    transition: 0.8s;
}

.photo-gallery a:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.buttons {
    display: flex;
    max-width: 180px;
    justify-content: center;
    margin: 3em auto;
}

.buttons a {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid var(--grey);
    background-color: var(--grey);
    margin: 1em;
}

.contacts {
    color: var(--grey);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--grey);
}

.contacts ul {
    display: flex;
    flex-direction: column;
}

.contacts ul li {
    display: inline-block;
    list-style: none;
    padding: 15px 0;
}

.contacts a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    transition: color 0.3s ease;
}

.contacts .footer-items {
    align-self: center;
}

.contacts .icon {
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: var(--light-grey);
    color: var(--white);
    transition: background 0.5s ease;
}

.contacts ul li:hover .icon {
    background: var(--dark) !important;
    transition: background 0.5s ease;
}

.contacts ul li:hover a {
    color: var(--dark-black);
    transition: color 0.3s ease;
}

footer {
    padding: 0;
    color: var(--grey);
    margin: 8px 0;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        padding: 0px 75px 0 75px;
        height: 45px;
    }

    header .burger--container {
        display: none;
    }

    header ul.nav-menu {
        position: initial;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-top: none;
        height: 45px;
        width: 100%;
        padding: 0;
        margin: 0 37.5px;
    }

    header ul.nav-menu li.nav-menu--item {
        opacity: 1;
        border-bottom: none;
        transform: none;
        -webkit-transform: none;
        margin-top: 0;
        align-self: center;
    }

    header .icon {
        position: initial;
        transform: none;
        -webkit-transform: none;
        height: 45px;
        opacity: 0.8;
    }

    header a.icon.brand {
        font-size: 34px;
        margin-top: -3px;
    }

    header ul.nav-menu li.nav-menu--item a {
        font-size: 16px;
    }

    header ul.nav-menu li.nav-menu--item a,
    header a.icon.brand,
    header .lang a {
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        margin: auto 0;
        height: fit-content;
        line-height: 1.15;
    }

    header ul.nav-menu li.nav-menu--item a:hover,
    header a.icon.brand:hover,
    header .lang a:hover {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }

    header .lang {
        margin-top: -6px;
    }

    .podheader {
        min-height: 50vh;
        margin-top: 45px;
    }

    .title {
        top: 40%;
        left: 75px;
    }

    main {
        padding: 0 75px;
    }

    main section {
        padding-top: 40px;
    }

    .flipbox-gallery--box {
        margin: 1em 1em 1em 0;
    }

    .flipbox-gallery {
        justify-content: center;
    }

    .sponzors-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;
    }

    .job>div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .job .job--item {
        max-width: 380px;
        margin-right: 4em;
    }

    .contacts ul {
        flex-direction: row;
        justify-content: space-between;

    }

}

@media (min-width: 1100px) {
    main {
        padding: 0;
        max-width: 800px;
        margin: 0 auto;
    }

    .podheader {
        background-image: url(../img/technology-4739537_1920.jpg);
    }

    header {
        padding: 0px;
        padding-right: calc(((100vw - 8px) - 800px)/2);
        padding-left: calc(((100vw - 8px) - 800px)/2);
    }

    header ul.nav-menu {
        margin: 0 calc((((100vw - 8px) - 800px)/2)/4);
    }

    header .lang {
        margin-top: -6px;
    }

    header .lang a {
        font-size: 14px;
    }

    .title {
        left: calc(((100vw - 8px) - 800px)/2);
    }

    .images {
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: center;
    }

    .images span {
        white-space: normal;
    }

    .job .job--item {
        max-width: 350px;
        margin: 0;
    }

    .job .job--item:nth-child(2) {
        margin: 0 1em;
    }

    .flipbox-gallery {
        justify-content: space-between;
    }

    .slide-container {
        height: 550px;
    }

}

@media (min-width: 1400px) {
    main {
        max-width: 1100px;
    }

    header {
        padding: 0px;
        padding-right: calc(((100vw - 12px) - 1100px)/2);
        padding-left: calc(((100vw - 12px) - 1100px)/2);
    }

    header ul.nav-menu {
        margin: 0 calc((((100vw - 8px) - 1100px)/2)/4);
    }

    .title {
        left: calc(((100vw - 12px) - 1100px)/2);
    }

    .job>div {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1920px) {
    main {
        max-width: 1100px;
    }

    header .nav-menu a {
        font-size: 18px;
    }

    header .nav-menu a {
        margin: 0px 18px;
    }

    .title {
        left: calc(((100vw - 12px) - 1100px)/2);
    }

    .photo-gallery {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

@media (min-width: 2560px) {
    main {
        max-width: 1600px;
    }

    header {
        padding: 0px;
        padding-right: calc(((100vw - 12px) - 1600px)/2);
        padding-left: calc(((100vw - 12px) - 1600px)/2);
    }

    .title {
        left: calc(((100vw - 12px) - 1600px)/2);
    }
}