@font-face {
    font-family: "Monaco";
    src: url("../fonts/Monaco.ttf") format("ttf");
}

body {
    font-family: "Monaco", sans-serif;
    font-size: 1rem;
    color: var(--light-grey);
}

h2, h3, h4 {
    font-family: "Monaco", sans-serif;
    margin-bottom: 15px;
    color: var(--dark);
    font-weight: normal;
}

h1 {
    font-size: 32px;
    margin: 0 0 0.3em 0em;
    font-weight: normal;
}

p {
    margin-bottom: 1.2em;
    text-align: left;
    font-size: 16px;
    color: var(--light-grey);
}