@font-face {
    font-family: "Monaco";
    src: url("../fonts/Monaco.otf") format("otf");
}

body {
    font-family: "Roboto", "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    color: var(--light-grey);
}

h2,
h3,
h4 {
    margin-bottom: 15px;
    color: var(--dark);
    font-weight: normal;
    width: fit-content;
}

h1 {
    font-size: 30px;
    margin: 0 0 0.3em 0em;
    font-weight: normal;
    font-family: "Monaco";
}

p {
    margin-bottom: 1.2em;
    text-align: justify;
    color: var(--light-grey);
}